h1 {
    font-size: 10rem;
    margin-top: 3%;
    color: #86DEB7;
    text-align: center;
}

.tagline {
    font-size: 2rem;
    text-align: center;
    color: #43AA8B;
}

.results-container {
    text-align: center;
}

a {
    font-size: 1.3rem;
    color: #43AA8B;
}

